body{
	font-family: 'Oswald', sans-serif;
}
#container{
	width: 1000px;
	margin: auto;
	margin-top:400px;
}

div.header{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 5px auto;
}
a.header{
	margin:0 40px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding:5px;
}
a.header:hover{
	color:red;
	border: solid red 2px;
	margin: 0 38px;
}
a:visited {
    text-decoration: none;
    color: black;
}
h1{
	text-align: center;
	font-size: 50px;
}
h1.action, h2.connect, div.socialicons, h2.hash, h2.send{
	text-align: center;

}

h1.action {
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

h2.hash {
	border-top: 1px black solid;
	padding-top: 30px;
}

div.twitterfeed {
	float: left;
	padding-left: 200px;
	padding-bottom: 50px;
	padding-right: 20px;
}

div.facebookfeed {
	float: left;
	padding-bottom: 50px;
}

div.connect, div.socialicons {
	clear:both;
}

#emphasis {
	color: red;
}

a.tip{
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a.tip:hover{
	color:red;
}

h3.quote{
	text-align: center;
	color:darkslategrey;
	margin:10px 30px;
	padding:10px 30px;
}

div.title{
	text-transform: uppercase;
	background-image: url(../eyes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	text-align: center;
	display: block;
	height: 342px;
	margin-top: 50px;
}
h1.title{
	text-align: center;
	text-transform: uppercase;
	color: white;
	position: relative;
  	top: 33%;
  	font-size: 625%;
}